<mat-toolbar color="primary" class="mat-elevation-z2">
  <button mat-icon-button [routerLink]="['/']" aria-label="Home">
    <mat-icon>home</mat-icon>
  </button>
  <span class="brand" [routerLink]="['/']" style="cursor:pointer">{{'header.ecommerce' | translate}}</span>
  <span class="flex-spacer"></span>

  <a mat-button routerLink="/" routerLinkActive="active">{{'header.home' | translate}}</a>
  <a mat-button routerLink="/contact-us" routerLinkActive="active">{{'header.contact_us' | translate}}</a>
  <a mat-button routerLink="/catalog" routerLinkActive="active">Catalog</a>
  <a mat-icon-button routerLink="/cart" matBadge="{{cartCount}}" matBadgeColor="accent" aria-label="Cart">
    <mat-icon>shopping_cart</mat-icon>
  </a>

  <ng-container *ngIf="logged_in">
    <button mat-button [matMenuTriggerFor]="adminMenu" *ngIf="user_role === 'admin'">
      Admin <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #adminMenu="matMenu">
      <button mat-menu-item routerLink="/admin/catalog">Products</button>
      <button mat-menu-item routerLink="/admin/users">Users</button>
    </mat-menu>
    <a mat-button routerLink="/my-profile">{{'header.my_profile' | translate}}</a>
    <button mat-button (click)="logOut()">{{'header.signout' | translate}}</button>
  </ng-container>
  <ng-container *ngIf="!logged_in">
    <a mat-button routerLink="/sign-in">{{'header.signin' | translate}}</a>
    <a mat-button routerLink="/sign-up">{{'header.signup' | translate}}</a>
  </ng-container>
</mat-toolbar>
