@import '~@angular/material/theming';

// Typography config for v8
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, Arial, sans-serif'
);
@include mat-core($custom-typography);

// Palettes (v8 API)
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

// Theme (v8 API)
$home-decor-theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($home-decor-theme);
@include angular-material-typography($custom-typography);

// Global adjustments
.mat-toolbar.mat-primary {
  background: mat-color($primary, 600);
}

// Utility
.w-100 { width: 100%; }
